@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Oswald", sans-serif;
    background-image: url("mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 20px;
    border-radius: 10px;
   
    text-align: center;
    max-width: 90%;
    width: 100%; /* Use full width on mobile */
    
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
}

.container input {
    margin: 10px 0;
    width: 90%; /* Full width for inputs */
    height: 40px;
    outline: none;
    padding: 0 10px;
    font-size: 1rem;
}
h2{
    color: white;
}

.container button {
    display: block;
    margin: 20px auto;
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    width: 90%; /* Full width for buttons */
}

.container button:hover {
    cursor: pointer;
}

.time-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align */
}

.time-container h2 {
    line-height: 1.2;
    font-size: 2rem; /* Responsive font size */
    margin: 5px 0; /* Margin for spacing */
}

.time-container span {
    font-size: 3rem; /* Responsive font size */
    color: white; 
}

.hide {
    display: none;
}

/* Media Queries for Enhanced Mobile Experience */
@media (max-width: 768px) {
    .container h1 {
        font-size: 2rem; /* Smaller font for mobile */
    }

    .time-container h2 {
        font-size: 1.5rem; /* Smaller font for mobile */
    }

    .time-container span {
        font-size: 2.5rem; /* Smaller font for mobile */
    }
}

@media (max-width: 480px) {
    .container h1 {
        font-size: 1.5rem; /* Further decrease for small screens */
    }

    .time-container h2 {
        font-size: 1.2rem; /* Further decrease for small screens */
    }

    .time-container span {
        font-size: 2rem; /* Smaller font for very small screens */
    }
}
